<h1>Formulario Registro Encuesta</h1>
<form [formGroup]="formNewPoll" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label>Email</label>
    <input  type="text" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$"class="form-control" formControlName="mail" />
    <div
      class="error"
      *ngIf="
        formNewPoll.controls.mail.errors && formNewPoll.controls.mail.touched
      "
    >
      El campo email es requerido
    </div>
    <label>Tipo de Musica</label>
    <select  class="form-control" formControlName="typeMusic">
      <option value="" disabled selected>Seleccione Tipo de Musica</option>
      <option *ngFor="let s of typeMusicList" value="{{ s.id }}">
        {{ s.descripcion }}
      </option>
    </select>
  </div>
  <input type="submit" value="Enviar" class="btn btn-block btn-info" [disabled]="!formNewPoll.valid" >
</form>
